/* Contact.scss */
#contact {
    padding: 50px 20px;
    background-color: var(--contact-bg-color); /* Usando a variável de cor de fundo */
    color: var(--text-color); /* Usando a variável de cor de texto */
    text-align: center;
  
    .social-links {
      a {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
        color: var(--text-color); /* Usando a variável de cor de texto */
        font-size: 1.5em;
  
        i {
          margin-right: 8px; /* Espaço entre o ícone e o texto */
        }
  
        &:hover {
          color: var(--link-color); /* Usando a variável de cor de link */
        }
      }
    }
  
    #profile-link {
      display: block;
      text-align: center;
      margin: 20px 0;
      color: var(--text-color); /* Usando a variável de cor de texto */
      text-decoration: none;
  
      &:hover {
        color: var(--link-color); /* Usando a variável de cor de link */
      }
    }
  }
  