/* Navbar.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--nav-bg-color); /* Usando a variável de cor de fundo */
  color: var(--nav-text-color); /* Usando a variável de cor de texto */

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-right: 1rem;

      a {
        text-decoration: none;
        color: var(--nav-text-color); /* Usando a variável de cor de texto */
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: var(--nav-hover-bg-color); /* Usando a variável de cor de hover */
        }
      }
    }
  }
}

.theme-toggle {
  cursor: pointer;
  font-size: 1.5rem;
}
