/* Projects.scss */
#projects {
  padding: 50px 20px;
  background-color: var(--project-bg-color); /* Usando a variável de cor de fundo */
  color: var(--text-color); /* Usando a variável de cor de texto */

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color); /* Usando a variável de cor de texto */
  }

  .project-tile {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    transition: transform 0.2s;
    background-color: var(--bg-color); /* Usando a variável de cor de fundo */
    color: var(--text-color); /* Usando a variável de cor de texto */

    &:hover {
      transform: scale(1.05);
    }

    a {
      display: block;
      text-decoration: none;
      color: var(--text-color); /* Usando a variável de cor de texto */
      font-size: 1.2em;
      margin: 10px 0;

      &:hover {
        color: var(--link-color); /* Usando a variável de cor de link */
      }
    }
  }
}
