:root {
    --nav-bg-color: #f0f0f0; /* Cor de fundo cinza claro para o modo claro */
    --nav-text-color: #333;
    --nav-hover-bg-color: #555;
  
    --bg-color: #fff;
    --text-color: #000;
    --link-color: #0073e6;
    --project-bg-color: #e0e0e0; /* Cor de fundo para a seção de projetos no modo claro */
    --contact-bg-color: #f4f4f4; /* Cor de fundo para a seção de contatos no modo claro */
  }
  
  body.dark {
    --nav-bg-color: #333; /* Cor de fundo escura para o modo escuro */
    --nav-text-color: #ddd;
    --nav-hover-bg-color: #444;
  
    --bg-color: #121212;
    --text-color: #fff;
    --link-color: #4dabf7;
    --project-bg-color: #1e1e1e; /* Cor de fundo para a seção de projetos no modo escuro */
    --contact-bg-color: #1a1a1a; /* Cor de fundo para a seção de contatos no modo escuro */
  }
  
  body.light {
    --nav-bg-color: #f0f0f0; /* Cor de fundo cinza claro para o modo claro */
    --nav-text-color: #333;
    --nav-hover-bg-color: #555;
  
    --bg-color: #fff;
    --text-color: #000;
    --link-color: #0073e6;
    --project-bg-color: #e0e0e0; /* Cor de fundo para a seção de projetos no modo claro */
    --contact-bg-color: #f4f4f4; /* Cor de fundo para a seção de contatos no modo claro */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  a {
    color: var(--link-color);
  }
  