/* WelcomeSection.scss */
.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  background-color: var(--bg-color); /* Usando a variável de cor de fundo */
  color: var(--text-color); /* Usando a variável de cor de texto */
  text-align: center;

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 10px;
    line-height: 1.6;
  }

  #my-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
}
